# ==========================
# Core
# ==========================
httpx
loguru
pydantic
pydantic-settings
python-dotenv

# ==========================
# Development
# ==========================
pytest
black
isort
mypy